<div class="max-w-[65%] self-end text-white bg-tai py-2 px-4 rounded-t-2xl rounded-bl-2xl rounded-br-sm">
    {{ user_message }}
</div>

<div class="max-w-[65%] self-start text-left bg-slate-300 py-2 px-4 rounded-t-2xl rounded-br-2xl rounded-bl-sm">
    {{ bot_message }}
</div>